* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

img {
    width: 426px;
    height: 385px;
    margin-bottom: 56px;
}

h2 {
    width: 299px;
    height: 20px;
    color: #FFF;
    font-style: normal;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 29px;
    text-align: center;
}

input {
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.25);
    width: 342px;
    height: 74px;
    padding-left: 20px;
    align-items: center;
    font-weight: 500;
    font-size: 40px;
    color: #FFF;
    line-height: 47px;
    opacity: 0.7;
}

.input-1 {
    margin-right: 60px;
}

button {
    border: none;
    border-radius: 15px;
    background: #AEC346;
    box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
    display: flex;
    width: 342px;
    height: 72px;
    padding: 0px 76px;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}